@charset "UTF-8";

.select-box>.category-2.off{
	display: none;
}

/* boardList */
.board-AllList-box{
	padding:50px 0;
}
.AllList-table td,th{
	padding: 10px;
	max-width: 200px;
}
.AllList-table .day-range{
	width:130px;
}
.board-AllList>.AllList-table .board-title-width{
	min-width:500px;
	max-width:500px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.board-AllList>.AllList-table th.board-title-width{
	text-align: center;
}
.board-page-btn button.on{
	background-color: #e63f00;
}
.board-page-btn button.on:hover{
	background-color: #ff6124;
}
.board-page-btn button.on:active{
	background-color: #ff9e79;
}
.board-page-btn button{
	background-color: coral;
	color:#fff;
	width:36px;
	height: 36px;
	padding:10px;
	border-radius: 10px;
	margin:20px 0;
	font-size:16px;
}
.board-page-btn button:hover{
	background-color: #ffb395;
}
.board-page-btn button:active{
	background-color: #ffc9b5;
}
.AllList-table .hr-td{
	padding:0;
}


/* boardContent */
.content-box{
	display: flex;
	justify-content: space-between;
}
.board-content-blank{
	width: 80px;
}
.content-btn-box{
	display: flex;
	justify-content: space-between;
	gap:10px;
}
.content-table{
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.content-table img{
	width: 786px;
	object-fit:contain;
}
.content-table th{
	border-right: 1px dashed coral;
}
.content-table .blank-th{
	border-right: 0;
}
.content-btn-box button{
	background-color: coral;
	color:#fff;
	width:80px;
	height: 50px;
	padding:10px;
	border-radius: 10px;
	margin:20px 0;
	font-size:20px;
}
.content-btn-box button:hover{
	background-color: #ffb395;
}
.content-btn-box button:active{
	background-color: #ffc9b5;
}
.board-content-box{
	padding:50px 0;
	margin-bottom:50px;
}
.content-table th{
	width: 100px;
	max-width: 100px;
}
.content-table td{
	width: 300px;
	max-width: 300px;
}
.content-table td,th{
	padding: 10px;
}
.content-table .day-range{
	width:130px;
}
.board-content>.content-table .board-title,.board-content{
	text-align: left;
	word-wrap:break-word;
	word-break:keep-all;
	
	
}
.board-content>.content-table th{
	text-align: center;
}
.content-sep-line{
	border:0;
	border-top: 1px dashed #ffb395;
}

/* boardInsert */
.board-insert-box{
	margin-bottom: 50px;
}
.board-insert-sec{
	width:800px;
}
.board-insert-form{
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.select-box{
	display: flex;
	justify-content: space-between;
}
.board-insert-input{
	margin-bottom:10px;
}
.select-box>.category-2{
	width: 480px;
	display: flex;
	justify-content: space-between;
}
.select-box select{
	margin: 0 15px;
	padding: 3px;
	position:relative;
	top: -3px;
}
.board-insert-form img{
	width:750px;
	object-fit:contain;
}
.board-insert-form button{
	background-color: coral;
	color:#fff;
	width:80px;
	height: 50px;
	padding:10px;
	border-radius: 10px;
	margin:20px 0;
	font-size:20px;
}
.board-insert-form button:hover{
	background-color: #ffb395;
}
.board-insert-form button:active{
	background-color: #ffc9b5;
}
.board-insert-box{
	padding:50px 0;
	margin:0 50px 0;
}
.content-label {
	position:relative;
	top: -380px;
}
.board-insert-input input,textarea {
	width:700px;
	margin-left: 36px;
	margin-right: 13px;
}
.board-insert-input #insertImg {
	margin-left: 17px;
}
.board-insert-input textarea {
	height: 400px;
}

/* boardUpdate */
.board-update-box{
	margin-bottom: 50px;
}
.board-update-sec{
	width:800px;
}
.board-update-form{
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.board-update-input{
	margin-bottom:10px;
}
.board-update-form img{
	width:750px;
	object-fit:contain;
}
.board-update-form button{
	background-color: coral;
	color:#fff;
	width:80px;
	height: 50px;
	padding:10px;
	border-radius: 10px;
	margin:20px 0;
	font-size:20px;
}
.board-update-form button:hover{
	background-color: #ffb395;
}
.board-update-form button:active{
	background-color: #ffc9b5;
}
.board-update-box{
	padding:50px 0;
	margin:0 50px 0;
}
.content-label {
	position:relative;
	top: -380px;
}
.board-update-input input,textarea {
	width:700px;
	margin-left: 36px;
	margin-right: 13px;
}
.board-update-input #updateImg {
	width:670px;
}
.board-update-input textarea {
	height: 400px;
}
.update-select-box{
	display: flex;
	justify-content: space-between;
}
.update-select-box>.category-2.off{
	display: none; 
}
.update-select-box>.category-2{
	width: 480px;
	display: flex;
	justify-content: space-between;
}
.update-select-box select{
	margin: 0 15px;
	padding: 3px;
	position:relative;
	top: -3px;
}


/* boardPaging */
.board-btn-box{
	display: flex; 
	justify-content: space-between;
}
.board-list-blank{
	width:100px;
}
.btn-add-board{
	position:relative;
	top:60px;
	background-color: coral;
	color:#fff;
	width:100px;
	height:40px;
	line-height:20px;
	padding:10px;
	border-radius: 20px;
	font-size:20px;
}
.btn-add-board:hover{
	background-color: ffb395;
}
.btn-add-board:active{
	background-color: ffc9b5;
}
.board-list-box{
	margin-bottom: 50px 0;
}
.board-box{
	width:800px;
}
.board-list{
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.list-table td,th{
	padding: 10px;
	max-width: 200px;
}
.board-list>.list-table .board-id-width{
	min-width:130px;
	max-width:130px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.board-list>.list-table .board-title-width{
	min-width:450px;
	max-width:450px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.board-list>.list-table th.board-title-width{
	text-align: center;
}
.board-box .hr-td{
	padding:0;
}