@charset "UTF-8";

/* adminRentcarContent */
.car-insert-form{
	width: 650px;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.car-insert-input img{
	width: 600px;
	
}
.car-insert-sec{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.car-insert-input{
	display: flex;
	justify-content: space-between;
	margin-bottom:10px;
}
.car-insert-input .insert-category{
	width:140px;
	text-align: left;
}
.car-insert-input #carCategory{
	width:30px;
}
.car-insert-input input{
	width: 450px;
}
.car-insert-input textarea{
	width: 450px;
	height: 400px;
	margin-right:0px;
}
.btn-car-insert{
	background-color: coral;
	color:#fff;
	margin-top:20px;
	width:400px;
	padding:20px;
	border-radius: 10px;
	font-size:30px;
}
.btn-car-insert:hover{
	background-color: #ffb395;
}
.btn-car-insert:active{
	background-color: #ffc9b5;
}

/* adminRentcarList */
.rentcar-box{
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.rentcar-list-box{
	max-width:1200px;
}
.add-car{
	width:80vw;
	max-width:1000px;
	display: flex;
	justify-content: space-between;
}
.add-car div{
	width:100px;
}
.rentcar-info-table .car-list-infotext{
	word-wrap:break-word;
	word-break:keep-all;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.rentcar-info-table img{
	width:100px;
	height:60px;
	object-fit: contain;
}

.rentcar-info-table td,th{
	padding: 10px;
	max-width:140px;
}
.rentcar-info-table button{
	background-color: coral;
	color:#fff;
	width:100px;
	padding:10px;
	border-radius: 10px;
	font-size:15px;
}
.rentcar-info-table button:hover{
	background-color: #ffb395;
}
.rentcar-info-table button:active{
	background-color: #ffc9b5;
}
.btn-add-car{
	background-color: coral;
	color:#fff;
	width: 100px;
	height: 40px;
	line-height:20px;
	position:relative;
	top:40px;
	padding:10px;
	border-radius: 10px;
	margin:20px 0;
	font-size:20px;
}
.btn-add-car:hover{
	background-color: #ffb395;
}
.btn-add-car:active{
	background-color: #ffc9b5;
}
.dot-hr{
	border: 1px dashed #bbb;
}
.rentcar-info-table .hr-td{
	padding:0;
}

/* adminRentcarUpdate */
.car-update-form{
	width: 650px;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 coral;
	padding: 20px;
}
.car-update-input img{
	width: 600px;
	object-fit:certain;
}
.car-update-sec{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.car-update-input{
	display: flex;
	justify-content: space-between;
	margin-bottom:10px;
}
.car-update-input .update-category{
	width:140px;
	text-align: left;
}
.car-update-input #carCategory{
	width:30px;
}
.car-update-input input{
	width: 450px;
}
.car-update-input textarea{
	width: 450px;
	height: 400px;
	margin-right:0px;
}
.btn-car-update{
	background-color: coral;
	color:#fff;
	margin-top:20px;
	width:400px;
	padding:20px;
	border-radius: 10px;
	font-size:30px;
}
.btn-car-update:hover{
	background-color: #ffb395;
}
.btn-car-update:active{
	background-color: #ffc9b5;
}
