@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

input:focus {
	outline:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  height: calc(100vh - 85px);
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

/* header */
header {
  width: 100%;
  position: fixed;
  margin-top: -85px;
}

.log-back {
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
}

.log-bar {
  width: 100%;
  max-width: 1280px;
  background-color: #222;
  display: flex;
  justify-content: right;
  padding: 0 20px;
}

.btn-box {
  right: 0;
  height: 25px;
  line-height: 23px;
}

.btn-box>a {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}
.btn-box>a:hover {
	color: skyblue;
}	
.btn-box>a:active {
	color: royalblue;
}

.gnb-back {
  width: 100%;
  background-color: #444;
  display: flex;
  justify-content: center;
}

.gnb {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  background-color: #444;
  width: 100%;
  max-width: 1280px;
}

.logo {
  margin: 5px 0;
}

.logo-img {
  height: 50px;
}

.menu-box {}

.menu-box>a {
  margin: 0 10px;
  padding: 10px 10px;
  color: #fff;
}
.menu-box>a:hover {
	color: skyblue;
}	
.menu-box>a:active {
	color: royalblue;
}

/* main */
body {
  width: 100%;
}

h1 {
	padding: 40px;
}
input{
	padding: 5px;
	font-size: 18px;
}
label{
	padding: 5px;
	font-size: 18px;
}
textarea{
	height: 100px;
	padding: 5px;
	font-size: 18px;
}
section{
  width: 100vw;
  margin-top:85px;
  height: calc(100vh - 235px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main {
  width: 100%;
  max-width: 1280px;
  justify-self: center;
  height: calc(100vh - 235px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reservation-box,.res-info-box,.login-box,.insert-box,.update-box,.car-list-box,.car-info-box,.user-list-box,.car-update-box,.rentcar-list-box,.car-insert-box{
	padding-bottom:50px;
}
.background{
	background: url("../img/index.jpg") no-repeat center center;
	width:100vw;
	max-width:1280px;
	height:100vh;
	overflow-x:hidden;
	object-fit:cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	z-index:10;
}
.background::before{
	content: '';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #222;
	opacity: 0.4;
	z-index:10;
}
.home{
	color:#fff;
	z-index:100;
}
.home h1{
	font-size:120px;
	padding:0;
	margin-top:5vh;
}
.home h4{
	margin-top:-20px;
	font-size: 20px;
	letter-spacing: 28px;
	color:yellow;
	margin-bottom:30vh;
}
.home h2{
	font-size:30px;
	margin-bottom: 20px;
}
.home button{
	width:300px;
	height:80px;
	border-radius:10px;
	font-size:30px;
	background-color:coral;
	margin-bottom: 10vh;
}
.home button:hover{
	background-color: #ffb395;
}
.home button:active{
	background-color: #ffc9b5;
}

/* footer */
footer {
  width: 100%;
  height: 150px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 0 20px;
}


.com-info {
  text-align: center;
}


.com-info h4 {
  font-size: 26px;
}

.com-info h5 {}

.com-title {
  margin-bottom: 15px;
}

.com-loc {
  margin-bottom: 8px;
}

.com-tel {
  margin: 5px 0;
}

.com-email {}